.container{
    max-width: 960px !important;
}
.head{
    text-align: center;
    padding-top: 92px;
}
.head h1{
    color: #202020;
    font-weight: 400;
    font-family: 'Asap';
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
}
.head h1 span{
    color: #2ec06c;
    font-weight: 700;
}
.head p{
    color: #666;
    font-family: 'Karla';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.main .container{
    padding: 0 !important;
}
.content{
    padding: 36px;
    margin-left: -25px;
    display: flex;
}
.socmedia{
    display: flex;
    padding-left: 37px !important;
}
.socmedia a{
    display: inline-block;
    margin-right: 26px;
    height: 140px;
    border-radius: 5px;
    text-align: center;
    padding-top: 40px;
    padding-right: 7px;
    transition: 1s ease-in-out;
}
.socmedia a i{
    font-size: 52px;
}
.facebook{
    border: 1px solid #3b5998;
    color: #3b5998;
}
.facebook:hover{
    background-color:#3b5998;
    color: white;
}
.twitter{
    border: 1px solid #00aced;
    color: #00aced;
}
.twitter:hover{
    background-color: #00aced;
    color: white;
}
.instagram{
    top: 158px;
    border: 1px solid #517fa4;
    left: -321px;
    color: #517fa4;
}
.instagram:hover{
    background-color: #517fa4;
    color: white;
}
.dribbble{
    border: 1px solid #ff0084;
    top: 158px;
    left: -320px;
    color: #ff0084;
}
.dribbble:hover{
    background-color: #ff0084;
    color: white;
}
.content form{
    padding-left: 37px !important;
}
.content form input[type=text],[type=email]{
    margin-bottom: 9px;
    height: 50px;
    border: 1px solid #bababa;
    border-radius: 5px;
    outline: none;
}
.content form input[type=text]:focus,[type=email]:focus{
    border: 1px solid #2ec06c;
}
input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}
 

.content form input{
    color: #666;
    font-family: 'Asap';
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
}
#lastname{
    top: -60px;
    right: -320px;
}
#email{
    top: -50px;
}
#projectname{
    top: -109px;
    right: -320px;
}
.message{
    margin-top: -100px;
    padding: 0 !important;
    display: flex;
}
.message textarea{
    order: 1px solid #bababa;
    border-radius: 5px;
    border-right: 0;
    max-height: 162px;
    padding-top: 11px;
    padding-left: 18px;
    color: #666;
    font-family: 'Asap';
    font-size: 16px;
    font-style: italic;
    line-height: 30px;
    outline: none;
}
.message textarea:focus{
    border: 1px solid #2ec06c;
}
input[type=submit]{
    height: 100%;
    left: -8px;
    max-width: 40px;
    background-color: #2ec06c;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #2ec06c;
    cursor: pointer;
    outline: none;
    border-left: 0;
}
.submit i{
    position: absolute;
    top: 72px;
    color: white;
    display: block;
    cursor: pointer;
}